<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ghost 1 Chat</title>
</head>
<body>
    <h1>Ghost 1 Chat</h1>
    <p>Bem vindo ao Ghost 1 Chat, essa aplicação foi desenvolvida com:</p>
    <ul>
        <li>Express</li>
        <li>MongoDB</li>
        <li>Socket.io</li>
        <li>EJS</li>
        <li>Bcrypt</li>
    </ul>
    <p>Comece a navegar agora mesmo!</p>
    <a href="/chat">Chat</a>
    <a href="/profile">Perfil</a>
    <a href="/login">Login</a>
    <a href="/register">Registro</a>
</body>
</html>
